@model IEnumerable<QuaMetMoi.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a data-bs-toggle="modal" data-bs-target="#myModal" class="delete" asp-action="Delete" data-id="@item.Id" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chắc chắn muốn xoá chưa ní</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Xoá rui khum khôi phục dc đâu nhó
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary " data-bs-dismiss="modal">Huỷ</button>
                <button id="name" type="button" asp-action="Delete" asp-route-id="" class="btn btn-danger" data-bs-dismiss="modal">Xoá</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    })
    $(".delete").click(function (event) {

        var id = $(this).attr("data-id");



        $("#name").click(function () {

            var url = "/Employees/Delete?id=" + id;

            window.location.href = url;
        })

    })


</script>
