@model QuaMetMoi.Models.Employee



@{
    ViewData["Title"] = "Index";

    
    IEnumerable<Employee> listEmploy = (IEnumerable<Employee>)ViewBag.listEmploy;
}


 
    <table class="table">
        <thead>
            <tr>
            <th>
                No
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
            <th>
               Actions
            </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in listEmploy)
            {
            
            <tr>
                <td>
                   @i
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i id="icon-edit" class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i id="icon-detail" class="fa-solid fa-circle-info"></i></a> |
                    <a data-bs-toggle="modal" data-bs-target="#myModal" class="delete" asp-action="Delete" data-id="@item.Id" asp-route-id="@item.Id"><i id="icon-delete" class="fa-solid fa-trash"></i></a>
                    </td>
            </tr>
            i++;
        }
        </tbody>
    </table>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Employee</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Are you sure you want to delete these Records?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                
                <button type="button" class="btn btn-outline-secondary " data-bs-dismiss="modal">Cancel</button>
               
                <button id="name" type="button" class="btn btn-danger">Delete</button>
            </div>

        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModalAdd">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Employess</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">

                        <button type="button" class="btn btn-outline-secondary " data-bs-dismiss="modal">Cancel</button>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
               </form>
            </div>

          

        </div>
    </div>
</div>
<style>
    #icon-delete{
        color: red;
    }

    #icon-edit {
        color: #d09e09;
    }
   
     

</style>
      
<script>
    $(".delete").click(function(event){

     var id = $(this).attr("data-id");
       
  

        $("#name").click(function () {
          
            var url = "/Employees/Delete/" + id;
    
            window.location.href = url;
        })
        
    })



    
</script>
